<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  </head>
  <body>
      <h1>404, oh boi!</h1>
      <p>We have nothing to show you at this address...</p>
  </body>

</html>
