<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Learn about <strong>Release Radar</strong></h1>
    <h2>Creators:</h2>
    <ul>
        <li>Wojciech Handke</li>
        <li>Adrianna Nowicka</li>
    </ul>
    <h2>Technologies:</h2>
    <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <% include partials/footer.ejs %>
  </body>

</html>
