<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  </head>
  <body>
      <h1>Release Radar</h1>
      <p>Best site to keep track of game releases!</p>
  </body>

</html>
