<!DOCTYPE html>
<html>
  <head>
    <% include partials/headIncludes.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
      <h1>Search!</h1>
      <p>Are you searching for <%= data.search%></p>
    <% include partials/footer.ejs %>
  </body>

</html>
