body{background: #E05030; font-family: 'Roboto', 'sans-serif'; color: #FFFFFF; padding: 30px;}
h1{font-size: 100px; font-weight: 300; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 16px; font-weight: 400; text-align: center;}
