body{background: #E05030; font-family: 'Roboto', 'sans-serif'; color: #FFFFFF; padding: 30px;}
h1{font-size: 100px; font-weight: 300; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 16px; font-weight: 400; text-align: center;}

/*
BREADCRUMB NAV
*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-weight: 200;
    color: #FFFFFF;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: #FFFFFF;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

/*
FOOTER
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D04020;
    color: white;
    text-align: center;
    font-size: 10px;
}

/*
SEARCH CONTAINER
*/

.search-container {
  max-width: 50%;
  width: 1000px;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  font-size: 30px;
  font-weight: 200;
  font-family: 'Roboto', 'sans-serif';
  border: none;
  box-sizing: border-box;
}
