body{background: #E05030; font-family: 'Roboto', 'sans-serif'; color: #FFFFFF; padding: 30px;}
h1{font-size: 100px; font-weight: 300; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 16px; font-weight: 400; text-align: center;}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-weight: 200;
    color: #FFFFFF;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D04020;
    color: white;
    text-align: center;
    font-size: 10px;
}
